{
  "presets": [
    "next/babel"
  ],
  "plugins": [
    ["styled-components", {
      "ssr": true,
      "displayName": true,
      "preprocess": false
    }],
    "inline-import-graphql-ast",
    ["wrap-in-js", {
      "extensions": ["css$", "scss$", "less$"]
    }],
    ["root-import", {
      "rootPathSuffix": "./build"
    }],
    ["transform-imports", {
      "antd": {
        "transform": "antd/lib/${member}",
        "preventFullImport": true,
        "camelCase": true
      },
      "ramda-asserters": {
        "transform": "ramda-asserters/lib/${member}",
        "preventFullImport": true
      }
    }],
    ["module-resolver", {
      "alias": {
        "recompose-ext": "./build/utils/recompose-ext",
        "ramda-ext": "./build/utils/ramda-ext"
      }
    }],
    ["ramda"],
    ["lodash", {
      "id": ["ramda-adjunct", "recompose"]
    }]
  ]
}
