{
  "presets": [
    "next/babel"
  ],
  "plugins": [
    ["styled-components", {
      "ssr": true,
      "displayName": true,
      "preprocess": false
    }],
    "inline-import-graphql-ast",
    ["root-import", {
      "rootPathSuffix": "./build"
    }],
    ["wrap-in-js", {
      "extensions": ["css$", "scss$", "less$"]
    }]
  ]
}
